[v-cloak] {
  display: none;
}

body {
  padding-top: 70px;
}

.tag {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 4px;
  margin-right: 4px;
  font-size: 12px;
}

.icon-done {
  color: #2aa82c;
  font-size: 24px;
}

.icon-rating {
  color: #ffbd00;
}

.margin-right {
  margin-right: 5px;
}

blockquote {
  padding: 5px 10px;
  margin: 0 0 5px;
  font-size: 12px;
  border-left: 3px solid #eee;
}
