<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WTDT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/toastr.min.css">
        <link rel="stylesheet" href="css/main.css">

        <!-- Vue -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- Firebase -->
        <script src="https://gstatic.com/firebasejs/4.0.0/firebase.js"></script>
        <!-- VueFire -->
        <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">WTDT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="index.html">List todo</a></li>
                <li class="active"><a href="add.html">Add new todo <span class="sr-only">(current)</span></a></li>
                <li><a href="#_">Map</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div class="container-fluid" id="app" v-cloak>
          <div class="row">
            <div class="col-md-12">
                <form v-on:submit.prevent="addTodo">
                    <div class="form-group">
                        <label>Titre</label>
                        <input type="text" class="form-control" v-model="newTodo.title" required>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="3" v-model="newTodo.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Lien</label>
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></div>
                        <input type="text" class="form-control" v-model="newTodo.links">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Adresse</label>
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></div>
                        <input type="text" class="form-control" v-model="newTodo.location" placeholder="adresse ou coordonnées">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Dates</label>
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                        <input type="text" class="form-control" v-model="newTodo.dates" placeholder="simple, plusieurs, interval, repetition">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Durée</label>
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></div>
                        <input type="text" class="form-control" v-model="newTodo.duration">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Prix</label>
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></div>
                        <input type="text" class="form-control" v-model="newTodo.price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tags</label>
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></div>
                        <input type="text" class="form-control" v-model="newTodo.tags" placeholder="tag 1, tag 2, tag 3...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <div>
                        <label class="radio-inline">
                            <input type="radio" name="radioStatus" value="todo" v-model="newTodo.status"> Todo
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radioStatus" value="done" v-model="newTodo.status"> Done
                        </label>
                        </div>
                    </div>
                    <div class="form-group" v-show="newTodo.status == 'done'">
                        <label>Note</label>
                        <div>
                        <label class="radio-inline">
                            <input type="radio" name="radioRating" v-bind:value="0" v-model="newTodo.rating"> Pas de note
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radioRating" v-bind:value="1" v-model="newTodo.rating"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radioRating" v-bind:value="2" v-model="newTodo.rating"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radioRating" v-bind:value="3" v-model="newTodo.rating"> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radioRating" v-bind:value="4" v-model="newTodo.rating"> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radioRating" v-bind:value="5" v-model="newTodo.rating"> 5
                        </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Comment</label>
                        <textarea class="form-control" rows="3" v-model="newTodo.comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default btn-primary pull-right" aria-label="Left Align">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
                    </button>
                    <br>
                    <br>
                </form>
            </div>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="js/toastr.min.js"></script>
        <script src="js/config.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
